### 학습목표
1. python 언어에서 변수의 의미 이해하기
2. 기본 데이터 타입 선언하기
 - 문자열(String) = 'Hello',"Hi"
 - 숫자(Number) = int, float
 - 불(boolean) = True, False

### 기본 데이터 타입
* variable declaration & value assignment(변수 선언 및 값 할당)

##### = 대입 연산자, == 비교 연산자
- 대입의 경우, 오른쪽의 수식이나 값을 evaluation(여기서는 계산이라는 의미로 사용)한 뒤,
- 왼쪽에 명시된 변수에 해당 값을 대입
- 변수는 해당 값을 가지게 됨

In [2]:
a = 10 # int
b = 11.4 # float

#### **comment(주석)**
- 코드에서 #으로 시작하는 뒷 부분은 실행되지 않음
- python이 소스코드를 실행하면서 #를 만나면 무시
- 개발자(사람)가 보기 위한 용도로 사용

In [4]:
# this line is very important
# so don't delete those lines

a = 10
b = 11.4

#### **print 함수**
- 함수란 특정 기능을 반복적으로 호출하여 사용가능한 코드블럭
- 해당 변수의 값을 출력
- , 로 여러 변수를 나열하면 한줄에 출력
- 기본적으로는 한칸 띄어쓰기 후 출력

In [5]:
print(a, b)
print(a, 10, 200, b)

10 11.4
10 10 200 11.4

#### java Code

String name = "살 체리";

int age = 5;

System.out.println(age + name);

> "5살 체리"

In [13]:
#### Python Code
name = '살 체리'
age = 5

# print(age + name)
print(age,name)
print('{}살 체리'.format(age))

5 살 체리
5살 체리

* **print 함수 설정**
  - sep : 구분자, 각 출력할 변수 사이에서 구별하는 역할을 함
  - end : 마지막에 출력할 문자열

In [14]:
print(a, b, 10, 100, sep='*', end='!!')

10*11.4*10*100!!

#### **(Jupyter)에서 변수 값 확인법**
  - print() 함수 사용
  - 변수 값을 코드의 마지막에 위치 시킨 후 실행 
    - 이 경우 output으로 변수의 값이 출력

In [21]:
a = 5
b = 25
# print(a)
a
b # 가장 마지막 값만 출력(a 출력 안됨)

# a, b 둘 다 출력하려면
# print(a)
# print(b)

25

#### **Variable naming(변수 이름 규칙)**
  - 숫자로 시작하는 이름을 제외하고 영문 대소문자, _, 숫자로 구성가능
  - 아래의 예제는 모두 valid한 변수 이름 
  - 일반적으로 해당 변수를 표현하고자 하는 정확하고 간결한 이름을 사용하는 것이 원칙
    - 코드를 읽은 것을 더 쉽게 할 수 있음
    - e.g) a = 1000의 경우보다 **student_num = 1000**로 명시한 것이 변수에 대한 이해가 빠름

#### Naming Method
- snake_case : 소문자로 작성하고, 합성어는 _사용
- CamelCase : 첫글자 대문자, 합성어 첫글자 대문자

- Java는 CamelCase만 사용
  - 변수: 첫글자 소문자, 합성어 첫글자 대문자    ex) studentName
  - 메서드 : 첫글자 소문자, 합성어 첫글자 대문자 ex) calcSum()
  - 클래스 : 첫글자 대문자, 합성어 첫글자 대문자 ex) BoardService
  
- Python은 snake_case와 CamelCase 모두 사용
  - 변수: snake_case, 모두 소문자    ex) student_num
  - 메서드 : snake_case ex) calc_sum()
  - 클래스 : CamleCase 첫글자 대문자, 합성어 첫글자 대문자 ex) BoardService

In [22]:
# Error는 나지 않음. 그러나 권장 X
abcABC = 100
_abc124 = 200
ABC124 = 200
a456BC = 100

a = 200
number_of_students = 200

* **invalid한 변수 이름의 예**
  - 숫자로 시작하면 안되는 이유는?

In [23]:
4 = 9

SyntaxError: can't assign to literal (<ipython-input-23-b72f2b497a0c>, line 1)

#### **reserved keywords(예약어)**
  - python에서 미리 선점하여 사용중인 키워드
  - 변수, 함수, 클래스 등등의 사용자 정의 이름을 사용할 수 없음
> for, while, if, elif, else, class, try, except, True, False, None, and, as, nonlocal, return, raise, is, in, import, def, not, pass, break, continue, del, from, global, ...

In [25]:
# 예약어를 변수명으로 사용하고 싶을 때는 앞에 _를 붙여서 사용!
_class = 100
print(_class)

100

### 기본 데이터 타입
  - 정수(int)
  - 실수(float)
  - 문자열(str)
  - 불리언(boolean)
> type 함수를 사용하면 데이터의 자료형 확인 가능

In [26]:
a = 10;
b = 3.14;
c = True
d = 'Hello'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

#### **None**
  - 아무런 값을 갖지 않을 때 사용
  - 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
  - 기타 언어의 NULL, nil 등과 같은 의미로 사용

In [27]:
c = None
print(c) # None은 None Type

None

#### **comparison operator(비교 연산자)**
  - 프로그래밍에선는 비교를 할 경우, = 대신 **==**를 사용
  - <, >(작다, 크다)
  - <=, >= (작거나 같다, 크거나 같다)
  - == 같다
  - != 같지 않다
  - 비교 연산자의 결과는 bool 타입

In [30]:
a = 5
b = 4

print(a > b) # True
print(a < b) # False
print(a >= b) # True
print(a <= b) # False
print(a == b) # False
print(a != b) # True

c = a > b
c = True
print(type(c))
print(c)

True
False
True
False
False
True
<class 'bool'>
True

#### **numbers(숫자형 타입)**
- 정수, 실수로 구성
- 수학의 기본 연산자(가감승제) 사용 가능

In [32]:
a = 5
b = 4

print(a + b) # 덧셈
print(a - b) # 뺄셈
print(a * b) # 곱셈
print(a / b) # 나누기(몫)
print(a % b) # 나누기(나머지)
print(a ** b) # 제곱

9
1
20
1.25
1
625

#### **operator priorites(연산자 우선순위)**
  - 기본적인 수학의 연산자와 동일
  - 강제로 연산을 선수하기 위해선, 괄호()를 사용

In [33]:
a = 5
b = 4

print(a + b *4)
print((a + b) * 4)

21
36

* **연습문제** 다음의 각 a값을 출력했을 때 결과는?

In [37]:
a = 9
print(a) # 9
print(a - 3) # 6
print(a) # 9

# 변수에 값을 담기 전까지는 1회성으로만 실행됨.

9
6
9

#### **expression evaluation & assignment(식평가 & 대입)**
  - 변수의 값이 변경되기 위해서는 =를 사용하여 대입이 발생하는 경우에만 해당

In [38]:
a = 9
a-3
print(a)

9

In [39]:
a = 9
t = a - 3
a = t

print(a)

6

In [40]:
a = 9
# a = a - 3
a **= 3
print(a)

729

#### *형변환*
 - str() : 문자열 형변환
 - int() : 정수형 형변환
 - float() : 실수형 형변환
 > int()와 float()에 문자열을 넣으면 Error 발생! 반드시 숫자만 사용

In [43]:
a = 52
print(type(a))

b = str(a)
print(type(b)) # 문자열로 형변환

<class 'int'>
<class 'str'>